body {
  background-color: #ddd;
}
.parent {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%);
  position: relative;
  animation: spin 2s linear infinite;
}
.parent::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 40px solid #000;
}
.parent::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  border: 40px solid #fff;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}
